html {
    font-size: 100%;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    font-family: 'Alata', sans-serif;
    font-weight: 400;
    font-size: $font-sm;
    line-height: 1.2;
}

.container-fluid {
    //you can use d-flex jc-sb
    width: 100vw;
    height: 100vh;
}

.container {
    @include flex(center);
}

//visibility
.hide-mobile {
    //for nav-links max-width:1023px or750px
    @include breakpoints-down(small) {
        display: none;
    }
}

.hide-desktop {
    //for hamburger menu min-width:1024px
    @include breakpoints-up(medium) {
        display: none;
    }
}

//bg-hero