@mixin flex($justify) {
    display: flex;
    align-items: center;
    justify-content: $justify;
}

@mixin nav-links {
    color: $White;
    text-align: center;
    text-decoration: none;
    font-size: 1.25rem;
    transition: 0.2s ease-in;
    cursor: pointer;
    &::after {
        content: '';
        height: 2px;
        position: absolute;
        bottom: -6px;
        background-color: $White;
    }
    &:visited,
    &:hover,
    &:active {
        &::after {
            content: '';
            height: 2px;
            background-color: $White;
            position: absolute;
            left: 18px; //to center the width
            right: 18px;
            bottom: -6px;
        }
    }
}

//Breakpoints
@media (min-width:68.267em) {
    //styles desktop
}

//sass map
//--(322,751,1024,1200)px resp--min-width
$breakpoints-up:("small":"21.47em", "medium":"50.067em", "large":"68.267em", "xlarge":"80em");
//--321px , 750px, 1023px, 1199px--max-width
$breakpoints-down:("x-small":"21.4em", "small":"50em", "medium":"68.2em", "large":"79.93em");
@mixin breakpoints-up($size) {
    @media(min-width: map-get($breakpoints-up, $size)) {
        @content;
    }
}

@mixin breakpoints-down($size) {
    @media(max-width: map-get($breakpoints-down, $size)) {
        @content;
    }
}