$White: hsl(0, 0%, 100%);
$Black: hsl(0, 0%, 0%);
$BlackNav: hsla(0, 0%, 0%, 0.7); //added
$DarkGray: hsl(0, 0%, 55%);
$lightGray: hsla(0, 0%, 55%, 0.7);
$VeryDarkGray: hsl(0, 0%, 41%);
//font-sizes
$font-sm:0.9375rem; // 15px body
$font-lg:2.375rem; //mobile-header-caption
$font-xlg:4.2rem; //xlarge screen-caption
$font1:2.19rem; //35.04px
$font2:3.5rem; //56px
$font3:2.625rem; //42px
//h2,h3 tags
$font-title-sm:1.75rem;
$font-title-lg:2.5rem;
//
$font-grid-sm:1.375rem;
$font-grid-lg:2rem;